<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="LogFileMessage" fileName="server_message.log" immediateFlush="true" append="true">
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>

            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="LogFileError" fileName="server_error.log" immediateFlush="true" append="true">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>


    <Loggers>

        <logger name="server-logger" level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFileMessage"/>
            <AppenderRef ref="LogFileError"/>
        </logger>

    </Loggers>

</Configuration>